@*
    Displays the current system state of the Z21 central unit. The data shown is the most important.
*@
@using System.Text
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using Z21Client
@using Z21Client.Models
@using Z21Dashboard.Application.Interfaces
@using Z21Dashboard.Application.Models
@using Z21Dashboard.Shared.Dashboard.Components
@inject IZ21Client Z21Client
@inject IStringLocalizer<SystemStateViewResources> Localizer
@implements IDisposable

<DashboardWindow HeaderTitle="@Localizer["Title"]"
                 OnHeaderMouseDown="OnHeaderMouseDown"
                 OnBringToFront="OnBringToFront">
    <Content>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-nowrap">@Localizer["MainCurrent"]</td>
                            <td>
                                @if (_systemState is not null)
                                {
                                    <text>@_systemState?.MainCurrentmA @Localizer["MilliAmpsShort"]</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">@Localizer["ProgrammingCurrent"]</td>
                            <td>
                                @if (_systemState is not null)
                                {
                                    @if (HardwareInfo?.HwType is HardwareType.Z21Old or HardwareType.Z21New)
                                    {
                                        <text>@_systemState?.ProgCurrentmA @Localizer["MilliAmpsShort"]</text>
                                    }
                                    else
                                    {
                                        <text>-</text>
                                    }
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">@Localizer["Temperature"]</td>
                            <td class="@_alertTemp text-nowrap">
                                @if (_systemState is not null)
                                {
                                    <text>@_systemState?.TemperatureC °C</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">@Localizer["SupplyVoltage"]</td>
                            <td>
                                @if (_systemState is not null)
                                {
                                    <text>@_supplyVoltageV @Localizer["VoltShort"]</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">@Localizer["InternalVoltage"]</td>
                            <td class="@_alertVolt">
                                @if (_systemState is not null)
                                {
                                    <text>@_vccVoltageV @Localizer["VoltShort"]</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </Content>
</DashboardWindow>

@code {
    [Parameter]
    public HardwareInfo? HardwareInfo { get; set; }

    /// <summary>
    /// Receives the mousedown event from the parent (Dashboard.razor)
    /// to initiate a drag operation.
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnHeaderMouseDown { get; set; }

    [Parameter]
    public EventCallback OnBringToFront { get; set; }

    private SystemStateChangedEventArgs? _systemState;
    private string _supplyVoltageV => _systemState?.SupplyVoltagemV is not null ? ((decimal)_systemState.SupplyVoltagemV / 1000).ToString("0.0") : "-";
    private string _vccVoltageV => _systemState?.VccVoltagemV is not null ? ((decimal)_systemState.VccVoltagemV / 1000).ToString("0.0") : "-";
    private string _alertTemp = string.Empty;
    private string _alertVolt = string.Empty;

    protected override void OnInitialized()
    {
        Z21Client.SystemStateChanged += OnSystemStateChanged;
    }

    private async void OnSystemStateChanged(object? sender, SystemStateChangedEventArgs e)
    {
        _systemState = e;

        _alertTemp = ((e.CentralStateEx & SystemStateChangedEventArgs.CentralStateExHighTemperature) > 0) ? "alertfield" : string.Empty;
        _alertVolt = ((e.CentralState & SystemStateChangedEventArgs.CentralStateShortCircuit) > 0) ? "alertfield" : string.Empty;

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Z21Client.SystemStateChanged -= OnSystemStateChanged;
    }
}
